h1 {
    text-align: center;
}

.introduction {
    text-align: center;
}

.CodeEditor {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: gray;
    border: 2px solid black;
    padding: 10px;
    gap: 20px;
}

.editor {
    position: relative;
    min-height: 150px;
    max-height: 350px;
    flex: 1 1 300px;
}

.console {
    position: relative;
    /* min-height: 200px; */
    max-height: 350px;
    flex: 1 1 300px;
    background-color: black;
    color: white;
}

.code-output {
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}

.options {
    margin-top: 2px;
    text-align: center;
    font-size: inherit;
}

.options button{
    background-color: darkseagreen;
    width: 80px;
}